<html>
<head>
    <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="bower_components/paper-card/paper-card.html"></link>
    <link rel="import" href="bower_components/paper-input/paper-input.html"></link>
    <link rel="import" href="bower_components/paper-button/paper-button.html"></link>
    <link rel="import" href="bower_components/paper-material/paper-material.html">
</head>
<body>
    <paper-material>
        <paper-card elevation="2">
            <paper-input label="NIP" value="{{nip}}"></paper-input>
        </paper-card>
    </paper-material>
    <style>
        paper-card {
            position: absolute;
            bottom: 200px;
            left: 50px;
            z-index: 1;
        }
    </style>
    <h3>Keluar ga??</h3>
</body>
</html>

